In [1]:
# Table: Users

# +----------------+---------+
# | Column Name    | Type    |
# +----------------+---------+
# | user_id        | int     |
# | name           | varchar |
# +----------------+---------+
# user_id is the primary key (column with unique values) for this table.
# This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
 

# Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

# Return the result table ordered by user_id.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Users table:
# +---------+-------+
# | user_id | name  |
# +---------+-------+
# | 1       | aLice |
# | 2       | bOB   |
# +---------+-------+
# Output: 
# +---------+-------+
# | user_id | name  |
# +---------+-------+
# | 1       | Alice |
# | 2       | Bob   |
# +---------+-------+

In [4]:
import pandas as pd
u=[0,1]
n=['alice','bOB']
users=pd.DataFrame(list(zip(u,n)),columns=['user_id','name'])
users

   user_id   name
0        0  alice
1        1    bOB

In [5]:
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    for i in users.index:
        users['name'][i]=users['name'][i].capitalize()
    
    return(users.sort_values(by=['user_id']))

In [6]:
fix_names(users)

C:\Users\devgu\AppData\Local\Temp\ipykernel_6024\66994502.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['name'][i]=users['name'][i].capitalize()

   user_id   name
0        0  Alice
1        1    Bob