In [ ]:
# Table: Customers

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | id          | int     |
# | name        | varchar |
# +-------------+---------+
# id is the primary key (column with unique values) for this table.
# Each row of this table indicates the ID and name of a customer.
 

# Table: Orders

# +-------------+------+
# | Column Name | Type |
# +-------------+------+
# | id          | int  |
# | customerId  | int  |
# +-------------+------+
# id is the primary key (column with unique values) for this table.
# customerId is a foreign key (reference columns) of the ID from the Customers table.
# Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

# Write a solution to find all customers who never order anything.

# Return the result table in any order.

# The result format is in the following example.

 

# Example 1:

# Input: 
# Customers table:
# +----+-------+
# | id | name  |
# +----+-------+
# | 1  | Joe   |
# | 2  | Henry |
# | 3  | Sam   |
# | 4  | Max   |
# +----+-------+
# Orders table:
# +----+------------+
# | id | customerId |
# +----+------------+
# | 1  | 3          |
# | 2  | 1          |
# +----+------------+
# Output: 
# +-----------+
# | Customers |
# +-----------+
# | Henry     |
# | Max       |
# +-----------+

In [1]:
import pandas as pd

In [18]:

data=[[1,'Joe'],
      [2,'Henry'],
      [3,'Sam'],
      [4,'Max']]
data1=[[1,3],
      [2,1]]

c=pd.DataFrame(data,columns=['id','name'])
o=pd.DataFrame(data1,columns=['id','customerId'])
c

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [19]:
o

   id  customerId
0   1           3
1   2           1

In [20]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    for i in customers['id'].index:
        if customers['id'][i] in list(orders['customerId']):
            customers=customers.drop(i)
    customers=customers.drop(columns=['id'])
    customers.rename(columns = {'name':'Customers'},inplace=True)
    return(customers)

In [21]:
find_customers(c,o)

  Customers
1     Henry
3       Max